//this color used for nav bar and major text

$primary: #263238;

//this color used for buttons, inputs when unclicked, modal underline and modal buttons, select options

$button-underline:  #546e7a;

$other-text: white;
