<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Username" id="username" type="text" class="validate">
          <label for="Username">Username</label>
          </div>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="airport-city" type="text" class="validate">
          <label for="airport-city">Airport City</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Airport Code" id="airport-code" type="text" class="validate">
          <label for="airport-code">Airport Code</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="comment" type="comment" class="validate">
          <label for="comment">Comment</label>
        </div>
      </div>
        <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Wait Time</option>
      <option value="1">10 minutes</option>
      <option value="2">20 minutes</option>
      <option value="2">30 minutes</option>
      <option value="2">40 minutes</option>
      <option value="2">50 minutes</option>
      <option value="2">60 minutes (1 hour)</option>
      <option value="2">70 minutes</option>
      <option value="2">80 minutes</option>
      <option value="2">90 minutes (1.5 hours)</option>
      <option value="2">100 minutes</option>
      <option value="2">110 minutes</option>
      <option value="2">120 minutes (2 hours)</option>
      <option value="2">130 minutes</option>
      <option value="2">140 minutes</option>
      <option value="2">150 minutes (2.5 hours)</option>
      <option value="2">160 minutes</option>
      <option value="2">170 minutes</option>
      <option value="2">180 minutes (3 hours)</option>
      <option value="2">190+ minutes (3+ hours)</option>
    </select>
    <label>Wait Time</label>
  </div>
      </div>
     <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Time</label>
        </div>
      </div>
    </form>
  </div>
