
      <div class="row addpoststyle">
            <h3 class="addposth3">Add New Post</h3>

        <div class="col s10">
          <div id="username" ng-model="newPost.username">


    <form>
    <div class="form-group input-field col s10">
    <input id="airport-code" type="text" class="validate" ng-model="searchedCode">
    <label for="airport-code">Airport Code</label>
    </div>
    <div class="form-group">
    <a href class=" btn btn-lg btn-success col xs-offset-1 col-xs-10" ng-click="addPostSearchAirportCode(searchedCode)">Enter</a>
    </div>

    <div class="post-output col s10">{{searchedAirportCode.code}}</div>




      <div class="input-field col s10">
        <textarea id="comment" class="materialize-textarea" length="140" ng-model="newPost.comment"></textarea>
        <label for="comment">Comment Less Than 140 Charcters</label>
      </div>

    <div class="col s12">
      <select class="" ng-model="newPost.waitTime" material-select>
        <option value="">Choose Your Wait Time</option>
        <option value="10">10 minutes</option>
        <option value="20">20 minutes</option>
        <option value="30">30 minutes</option>
        <option value="40">40 minutes</option>
        <option value="50">50 minutes</option>
        <option value="60 (1 hour)">60 minutes (1 hour)</option>
        <option value="70">70 minutes</option>
        <option value="80">80 minutes</option>
        <option value="90 (1.5 hours)">90 minutes (1.5 hours)</option>
        <option value="100">100 minutes</option>
        <option value="110">110 minutes</option>
        <option value="120 (2 hours)">120 minutes (2 hours)</option>
        <option value="130">130 minutes</option>
        <option value="140">140 minutes</option>
        <option value="150 (2.5 hours)">150 minutes (2.5 hours)</option>
        <option value="160">160 minutes</option>
        <option value="170">170 minutes</option>
        <option value="180 (3 hours)">180 minutes(3 hours)</option>
        <option value="190 (3+ hours)">190+ minutes (3+ hours)</option>
      </select>
      <label>Wait Time</label>
    </div>
    <div class="addpostbutton">
      <button class="waves-effect waves-light btn-large col s5" ng-click="submitAddNewPost(postId.id)">Submit</button>
    </div>
    </form>
  </div>
</div>
</div>
