<div class="container col-xs-6 col-xs-offset-3">
  <div class="row">
    <button class="btn btn-info col-xs-6 dark-grey white-text" ng-click="setLoginContainer()">Login</button>
    <button class="btn btn-success col-xs-6 dark-grey white-text" ng-click="setRegisterContainer()">Register</button>
  </div>
  <div class="row">
    <form ng-show="loginContainer">
      <div class="form-group">
        <label class="dark-grey-text">Email Address</label>
        <input type="email" id="inputEmail" class="col-xs-offset-1 col-xs-10 dark-grey-text input-field" placeholder="Email Address" ng-model="login.email" required autofocus>
      </div>
      <div class="form-group">
        <label class="dark-grey-text">Password</label>
        <input type="text" id="inputPassword" class="col-xs-offset-1 col-xs-10 dark-grey-text input-field" placeholder="Password" ng-model="login.password" required>
      </div>
      <div class="form-group">
        <a href class=" btn btn-lg btn-success col xs-offset-1 col-xs-10 dark-grey white-text input-field" ng-click="loginUser(login)">Login</a>
      </div>
    </form>
  </div>
  <form ng-show="registerContainer">
    <div class="form-group">
      <label class="dark-grey-text">Email Address</label>
      <input type="email" id="inputEmail" class="col-xs-offset-1 col-xs-10 dark-grey-text" placeholder="Email Address" ng-model="register.email" required>
    </div>
    <div class="form-group">
      <label class="dark-grey-text">Password</label>
      <input type="text" id="inputPassword" class="col-xs-offset-1 col-xs-10 dark-grey-text" placeholder="Password" ng-model="register.password" required autofocus>
    </div>
    <div class="form-group">
      <label class="dark-grey-text">Username</label>
      <input type="text" id="inputUsername" class="col-xs-offset-1 col-xs-10 dark-grey-text" placeholder="Username" ng-model="register.username" required autofocus>
    </div>
    <div class="form-group">
      <a href class=" btn btn-lg btn-success col xs-offset-1 col-xs-10 dark-grey white-text" ng-click="registerUser(register)">Submit Registration</a>
    </div>
  </form>
</div>
