<div class="container">
    <div class="row">
        <div class="input-field col s10">
          <input ng-model="searched" placeholder="" id="" type="text" class="validate">
          <label for="first_name">Enter Airport Code</label>
       </div>
  <div class="form-group">
      <a href class=" btn btn-lg btn-success col xs-offset-1 col-xs-10" ng-click="searchAirportCode(searched)">Enter</a>
    </div>
    </div>

    <div class="row">
        <div class="post-output col s10">{{searchedCode.code}}</div>
        <div class="post-output col s10">{{searchedCode.city}}</div>
    </div>
</div>

     <div class="row">
    <div ng-repeat="cat in posts">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">

              <span class="card-title">{{cat.airportCode}} - {{cat.airportCity}} </span>
              <p>User {{cat.username}} waited {{cat.waitTime}} minutes.</p>
               <p>Date & Time: {{cat.timeStamp}}</p>
              <p>Comment: {{cat.comment}}</p>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>