<div class="row">
    <div ng-repeat="dog in posts">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">

              <input class="card-title">My Post</input>
              <p>You waited {{dog.waitTime}} minutes.</p>
              <p>Date & Time: {{dog.timeStamp}}</p>
              <p>Comment: {{dog.comment}}</p>
            </div>
            <div class="card-action">
              <a ng-hide="!buttonHider" ng-click="inputChange(dog.id)">Edit</a>
              <a ng-click="deletePost(dog.id)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>



<!--

<div ng-repeat="chordProgression in chordProgressions">
        <div class="singleProgressionContainer" id="{{chordProgression.id}}">
            <input type="text" ng-model="chordProgression.chord1" ng-disabled="editDisabler" ng-init="editDisabler=true">

<button type="button" class="btn btn-sm doneButton" ng-hide="!buttonHider" ng-click="editProgression(chordProgression)">Done</button> -->