div.login-container {
  margin-bottom: 40px;
  position: inline-block; }

.navbar-fixed {
  position: fixed;
  bottom: 0; }

.dark-grey-text {
  color: #263238; }

.dark-grey {
  background-color: #263238; }

.white-text {
  color: #ffffff; }

.homeh3 {
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
  padding-top: 4px; }

.smalltexthome {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 25px; }

.results {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold; }

.authh1 {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  padding-top: 4px; }

.authdiv {
  margin-bottom: 100px;
  margin-left: 60px; }

.homestyle {
  margin-bottom: 100px;
  margin-left: 60px;
  margin-right: 60px; }

.authh1 {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  padding-top: 4px; }

.addposth3 {
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
  padding-top: 4px; }

.addpoststyle {
  margin-bottom: 100px;
  margin-left: 60px;
  margin-right: 60px; }

.mypostsh3 {
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
  padding-top: 4px; }

.mypostsstyle {
  margin-bottom: 100px;
  margin-left: 60px;
  margin-right: 60px; }

.profileh3 {
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
  padding-top: 4px; }

.buttonprofile {
  padding-left: 40px;
  padding-bottom: 0; }

.profileinfo {
  text-align: center; }

html, body {
  background: #8eb5c6; }

div.top-image {
  background-image: url("/images/airportwalkway4.jpg");
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0; }
